@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  background-color: $accent1;
  padding-top: 70px;
}

.preview {
  background-image: url('../images/preview/bg.png');
  @extend %bg;
  height: 100vh;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url('../images/preview/bg-image.png');
    width: 554px;
    height: 421px;
    @extend %bg;
    right: 0;
    bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url('../images/preview/bg-opacity.png');
    width: 622px;
    height: 599px;
    @extend %bg;
    right: 20px;
    bottom: 20px;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    margin-left: 100px;
  }

  &__title {
    @extend %poppins700;
    font-size: 64px;
    line-height: 50px;
    text-align: start;
    width: 614px;
    margin-bottom: 60px;

    span {
      font-size: 36px;
      line-height: 30px;
    }
  }
}

.about {
  position: relative;

  &::after {
    content: "";
    background-image: url('../images/about/about-figures.png');
    position: absolute;
    width: 534px;
    height: 354px;
    @extend %bg;
    bottom: -150px;
    left: 0;
  }

  &__box {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    margin-top: 160px;
    position: relative;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/about/about-bg.png');
      @extend %bg;
      width: 1000px;
      height: 1000px;
      top: -120px;
      left: -150px;
      z-index: -2;
    }

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(to bottom right, $accent3, #0A0A0A);
      border-radius: 50%;
      height: 650px;
      width: 650px;
      z-index: -1;
    }
  }

  &__img {
    margin: 0 auto;
  }

  &__text {
    width: 466px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 26px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      @extend %bg;
      background-image: url('../images/about/girl.svg');
      width: 530px;
      height: 895px;
      top: -340px;
      right: -340px;
    }
  }
}

.work {
  margin-top: 200px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url('../images/work/bg2.png');
    bottom: 0;
    @extend %bg;
    width: 1226px;
    height: 678px;
    z-index: -1;
    left: 350px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url('../images/work/bg1.png');
    @extend %bg;
    top: 139px;
    width: 1526px;
    height: 862px;
    z-index: -2;
    left: 370px;
  }

  .container {
    width: 1220px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__item {
    width: 380px;
    height: 280px;
    background: linear-gradient(117.05deg, rgba(255, 255, 255, 0.3) 1.69%, rgba(195, 195, 195, 0.229646) 24.14%, rgba(0, 0, 0, 0) 97.44%);
    border-radius: 30px;
    text-align: center;
    transition: all .3s;

    &-img {
      padding: 15px 0;
      margin: 0 auto;
      height: 210px;
    }

    &-text {
      @extend %poppins700;
      border-top: 1px solid black;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 30px 30px;
      width: 380px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      scale: 1.1;
      background: linear-gradient(117.05deg, rgba(255, 255, 255, 0.3) 1.69%, rgba(17, 248, 234, 0.229646) 83.52%, rgba(17, 245, 231, 0) 97.49%);
      transition: all .3s;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &-1,
    &-2,
    &-3,
    &-4,
    &-5 {
      background: linear-gradient(134.16deg, #7B1B72 25.37%, rgba(10, 10, 10, 0) 144.64%);
      background: .5;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: relative;
      transition: all .3s;

      &:hover {
        scale: 1.1;
      }
    }

    &-2,
    &-4 {
      margin-top: 60px;
      width: 150px;
      height: 150px;
    }

    &-3 {
      margin-top: 90px;
      width: 190px;
      height: 190px;
    }

    &-1::after,
    &-2::after,
    &-3::after,
    &-4::after,
    &-5::after {
      content: "";
      position: absolute;
      @extend %bg;
      opacity: 1.5;
    }

    &-1::after {
      background-image: url('../images/work/partners1.png');
      width: 67px;
      height: 57px;
      top: 20px;
      left: 16px;
    }

    &-2::after {
      background-image: url('../images/work/partners2.png');
      width: 119px;
      height: 92px;
      top: 30px;
      left: 30px;
    }

    &-3::after {
      background-image: url('../images/work/partners3.png');
      width: 150px;
      height: 100px;
      top: 50px;
      left: 25px;
    }

    &-4::after {
      background-image: url('../images/work/partners4.png');
      width: 90px;
      height: 90px;
      top: 30px;
      left: 30px;
    }

    &-5::after {
      background-image: url('../images/work/partners5.png');
      width: 90px;
      height: 90px;
      top: 10px;
      left: 8px;
    }
  }
}

.explore {
  position: relative;
  padding-bottom: 200px;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/explore/bg1.png');
    width: 1346px;
    height: 517px;
    @extend %bg;
    top: 425px;
    left: 200px;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url('../images/explore/bg2.png');
    width: 100%;
    height: 1111px;
    @extend %bg;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__inner {
    width: 955px;
    height: 560px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url('../images/explore/1.png');
      @extend %bg;
      width: 419px;
      height: 560px;
      top: 0;
      left: 0;
      opacity: 0.6;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: $accent5;
      width: 477px;
      height: 560px;
      border-radius: 30px 0 0 30px;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
  }

  &__slider {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/explore/2.png');
      top: -240px;
      right: -170px;
      width: 364px;
      height: 301px;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/explore/3.png');
      bottom: -160px;
      right: -170px;
      width: 274px;
      height: 504px;
      z-index: 10;
    }
  }

  &__text {
    width: 477px;
    margin-right: 0;
    margin-left: auto;
    background-color: rgb(100%, 100%, 100%, 0.5);
    border-radius: 0px 30px 30px 0px;
    color: #2A2C3A;
    font-size: 20px;
    line-height: 30px;
    @extend %poppins400;
    height: 560px;
    padding: 25px 15px;
    z-index: -1;
  }

  .slick-dots {
    margin-left: 680px;
    margin-top: -45px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 82px;
    font-size: 0px;
  }

  button {
    width: 20px;
    height: 20px;
    background: linear-gradient(114.29deg, #04062C -8.55%, rgba(249, 249, 253, 0) 225.75%);
    border-radius: 50%;

    &:active {
      opacity: 0.7;
    }
  }
}

.artworks {
  margin-bottom: 390px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../images/artworks/bg1.png');
    @extend %bg;
    width: 100%;
    height: 1204px;
    top: -50px;
    left: 0;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url('../images/artworks/bg2.png');
    @extend %bg;
    width: 100%;
    height: 1204px;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .title {
    margin-bottom: 160px;
    padding-top: 200px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/artworks/bg3.png');
      top: 0;
      left: 0;
      width: 370px;
      height: 255px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 908px;
    margin: 0 auto;
  }

  &__item {
    transition: all .3s;

    &:hover {
      scale: 1.1;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #979EA6;
    @extend %poppins700;
    margin-left: 10px;
  }

  &__img {
    transition: all .3s;

    &:hover {
      background: url(tumblr_mvqz3p9fYO1qaprfso1_r1_1280.jpg);
      filter: drop-shadow(0px 5px 10px rgba(57, 120, 122, 0.47));
    }
  }

}




@import 'media';